<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%=htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
      <!-- sdasdas -->
      <div id="content"></div>
      <div id="box"></div>
      <div><%=htmlWebpackPlugin.options.date %></div>
      <script type="text/javascript">
      </script>
      <!-- <% for ( var key in htmlWebpackPlugin.files){%>
        <%= key%>:<%= JSON.stringify(htmlWebpackPlugin.files[key])%>
    <%}%>
    <% for ( var key in htmlWebpackPlugin.options){%>
        <%= key%>:<%= JSON.stringify(htmlWebpackPlugin.options[key])%>
    <%}%> -->
  </body>
</html>